.dart_tool/
.flutter
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.metadata
.packages
build/
android/.gradle/
android/local.properties
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
*.iml
